@page
@model ClubManagement.Pages.ClubActivityPage.Admin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClubActivity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClubActivity.ActivityId" />
            <div class="form-group">
                <label asp-for="ClubActivity.ActivityName" class="control-label"></label>
                <input asp-for="ClubActivity.ActivityName" class="form-control" />
                <span asp-validation-for="ClubActivity.ActivityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubActivity.Description" class="control-label"></label>
                <input asp-for="ClubActivity.Description" class="form-control" />
                <span asp-validation-for="ClubActivity.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubActivity.Type" class="control-label"></label>
                <input asp-for="ClubActivity.Type" class="form-control" />
                <span asp-validation-for="ClubActivity.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubActivity.StartDate" class="control-label"></label>
                <input asp-for="ClubActivity.StartDate" class="form-control" />
                <span asp-validation-for="ClubActivity.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubActivity.EndDate" class="control-label"></label>
                <input asp-for="ClubActivity.EndDate" class="form-control" />
                <span asp-validation-for="ClubActivity.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubActivity.Location" class="control-label"></label>
                <input asp-for="ClubActivity.Location" class="form-control" />
                <span asp-validation-for="ClubActivity.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubActivity.Status" class="control-label"></label>
                <input asp-for="ClubActivity.Status" class="form-control" />
                <span asp-validation-for="ClubActivity.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-id="@Model.ClubId" >Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
