@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
    <form method="post" class="col-md-6">
        <div class="form-group">
            <label class="control-label">Email:</label>
            <input name="email" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label">Password:</label>
            <input name="studentCardId" class="form-control" />
        </div>

        <span class="text-danger">@TempData["error"]</span>

        <div class="form-group mt-3">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
    </form>
</div>
